<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/ripples.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-material-design.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <!--Nav Bar Begins-->
    <div class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CoolBudget Dashboard</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <!--start nav bar right-->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="#">Dashboard</a></li>
            <li class="dropdown">
              <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
               Hi, <span class="user-name"></span>
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Add Income</a></li>
                <li><a href="#">Add Envelope</a></li>
                <li><a href="#">Add Transaction</a></li>
                <li class="divider"></li>
                <li><a href="#" id="logout-nav">Logout</a></li>
              </ul>
            </li>
          </ul>
          <!--end nav bar right-->
        </div>
      </div>
    </div>
    <!--Nav bar ends-->
    
    <!--Tab begins Here-->
    <div class="col-md-4">
      <div class="bs-component">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#income" data-toggle="tab">Accounts<div class="ripple-container"></div></a></li>
          <li class=""><a href="#envelopes" data-toggle="tab">Envelopes<div class="ripple-container"></div></a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="income">
            <p><button class="btn btn-raised btn-success btn-sm right" data-toggle="modal" data-target="#create-income">Add Income</button></p>
            <h2>Hi, <span class="user-name"></span></h2>
            <div class="panel panel-primary" id="income-group">
              <div class="panel-heading">
                <h3 class="panel-title"> Your List of Income </h3>
              </div>
              
            </div>
          </div>
          <div class="tab-pane fade" id="envelopes">
            <p><button class="btn btn-raised btn-warning btn-sm right" data-toggle="modal" data-target="#create-envelope">Add Envelope</button></p>
            <!--START ENVELOPES-->
            <div id="envelopes-para" class="list-group">
          
            </div>
            <!--END ENVELOPES-->
          </div>
        </div>
      </div>
    </div>
    <!--Tab ends here-->

    <!--start right container-->
    <div class="col-md-8 pad">
      <div class="alert alert-dismissible alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Well done!</strong> You have successfully added an envelope.
      </div>
      <div class="alert alert-dismissible alert-danger" id="danger-alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oh snap! </strong>Change a few things up and try submitting again.
      </div>
       <div class="alert alert-dismissible alert-success" id="success-alert2">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Well done!</strong> Income has been added.
      </div>
      <div class="alert alert-dismissible alert-danger" id="danger-alert2">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oh snap! </strong>There was a problem with adding the income.
      </div>
      <div class="well infobox">
        <p><em>Transactions</em>
          
        </p>
      </div>
    </div>
    <!--end right container-->
    <!--Add income form dialog-->
    <div id="create-income" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" id="close-button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Income</h4>
            <small>Income is any money you earn. Add the money in your bank account first if you haven't already.</small>
          </div>
          <div class="modal-body">

            <form class="form-horizontal" id="income-form">
              <fieldset>
                <div class="form-group">
                  <label for="income-name" class="col-md-2 control-label">Payer</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="income-name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="income-amt" class="col-md-2 control-label">Amount</label>
                  <div class="col-md-10">
                    <input type="number" class="form-control" id="income-amt" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="notes" class="col-md-2 control-label">Notes</label>
                  <div class="col-md-10">
                    <textarea class="form-control" rows="2" id="income-notes" placeholder="Optional"></textarea>
                  </div>
                </div>
              </fieldset>
              <div class="modal-footer">
                <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--add income form dialog-->
    <!--Add envelop form dialog-->
    <div id="create-envelope" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" id="close-button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add New Envelope</h4>
            <small>Envelopes are stuff you spend money on. Example: Groceries, Entertainment, Transportation, etc </small>
          </div>
          <div class="modal-body">

            <form class="form-horizontal" id="envelope-form">
              <fieldset>
                <div class="form-group">
                  <label for="envelope-name" class="col-md-2 control-label">Envelop Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="envelope-name" placeholder="Choose a name that covers related expenses" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="envelope-amt" class="col-md-2 control-label">Budget Amount</label>
                  <div class="col-md-10">
                    <input type="number" class="form-control" id="envelope-amt" placeholder="How much would you budget for this envelope in a month?" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="envelope-pr" class="col-md-2 control-label">Envelope Priority</label>
                  <div class="col-md-10">
                    <input type="number" class="form-control" id="envelope-pr" min="1" max="10" placeholder="How important is this envelope in relation to others? 1 - 10." required>
                  </div>
                </div>
              </fieldset>
              <div class="modal-footer">
                <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
              </div>
            </form>
          </div>
        
        </div>
      </div>
    </div>
    <!--add envelope form dialog-->
    <!--start footer-->
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2017 Ignatius Ukwuoma
        <a class="right" href="http://andela.com">Andela Nigeria Bootcamp Cycle 20</a>
        </div>
      </div>
    </footer>
    <!--end footer-->
    <script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/material.min.js"></script>
    <script src="/javascripts/ripples.min.js"></script>
    <script src="/javascripts/core.js"></script>
  </body>
</html>