<% include ./partials/header %>

<div class="banner">
  <div id="banner-text">
    <h1>Plan Before You Spend</h1>
    <h3>...and Live Happily Ever After</h3>
    <a href="/signup" class="btn styled-button button-border"> Let's Start </a>
  </div>
</div>

<% include ./partials/footer %>