<% include ./partials/header %>


<div class="banner">
  <div id="banner-text">
    <h1>Plan Before You Spend</h1>
    <p>And Live Happily Ever After</p>
    <a href="/signup" class="btn btn-success btn-lg"> Let's Start </a>
  </div>
</div>


<% include ./partials/footer %>