footer.page-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #f8f8f8;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  color: rgba(000,000,000, 1.0);
  background-color: rgba(51,51,51,0.08);
}
.right {
  float: right !important;
}
.pad {
  padding-bottom: 50px;
}
.list-group .list-group-item .row-content {
  min-height: auto !important;
  margin: 0 0 10px 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #DDD
}
.list-group .list-group-item .row-content .action-secondary {
  right: 4px !important;
  top: 14px !important;
}
.list-group .list-group-item .row-content {
  width: -webkit-calc(100% - 0px) !important;
  width: calc(100% - 0px) !important;
}
#envelopes-para {
  width: 100%;
  overflow-y: scroll;
  min-height: 430px !important;
  max-height: 430px !important;
}
#income h2 {
  display: inline-block; 
  margin-top: 7px;
}
#success-alert {
  display: none;
}
#danger-alert {
  display: none;
}
#success-alert2 {
  display: none;
}
#danger-alert2 {
  display: none;
}
#income #incomes-para span{
  float: right;
  color: green;
}  
#income #incomes-para p{
  display: inline;
  font-weight: bold;
} 
#total-income {
  float: right;
  color: green;
}  
#budget-body p {
  display: inline;
  font-weight: bold;
  line-height: 30px;
} 
#total-envelope {
  float: right;
  color: orangered;
}
#transactions-well {
  display: flex;
  justify-content: space-between;
}
#transactions-well ul {
  display: flex;
  cursor: pointer;
  color: dimgray;
  font-size: 12px;
  list-style-type: none;
}
#transactions-well li {
  margin-right: 4px;
  text-decoration: underline;
}
#transactions-well p {
  font-weight: bold;
  font-size: 1.2em;
}
#transactions-well img {
  height: 30px;
}
input#search-bar{
  border-radius: 5px;
  width: 200px;
  border: 1px solid #D0CFCE;
 }